<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>

<body>
    <h1>Serve Static Files in Flask
    </h1>
    <p>A web application often requires a static file such as javascript or a CSS file to render the display of the web
        page in browser. <br> Usually, the web server is configured to set them, but during development, these files are
        served as static folder in your package or next to the module.
    </p>

    <br> <br>
    <form action="http://127.0.0.1:5000/login" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" >
        </div> <br>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>